In [4]:
import os
from dotenv import load_dotenv
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from RequestGuard import RequestGuard as RG

In [5]:
url = "https://www.boxofficemojo.com/brand/bn4185061890/"
rg = RG(url)
if rg.can_follow_link(url):
    print("robot.txt allows scraping for this page")

robot.txt allows scraping for this page

In [6]:
r = requests.get(url)
print(r.status_code)

200

In [7]:
soup = BeautifulSoup(r.text)
# print(soup)
container = soup.find('div', {'class': 'a-section imdb-scroll-table mojo-gutter'})
# print(container)

In [8]:
items = container.find_all('tr')
ranks, titles, gross, max_theaters, opening_earnings, opening_num_thtrs, release_dates, studios = [], [], [], [], [], [], [], []
for row in items[1:]:
    rank = row.find('td', class_='mojo-field-type-rank').text
    ranks.append(rank)
    title = row.find('td', class_='mojo-field-type-release').text
    titles.append(title)
    life_gross = row.find('td', class_='a-text-right mojo-field-type-money mojo-sort-column mojo-estimatable').text
    gross.append(life_gross)
    max_theater = row.find('td', class_='a-text-right mojo-field-type-positive_integer').text
    max_theaters.append(max_theater)
    opening = row.find('td', class_='a-text-right mojo-field-type-money').text
    opening_earnings.append(opening)
    opening_num_thtr = row.find('td', class_='a-text-right mojo-field-type-positive_integer').text
    opening_num_thtrs.append(opening_num_thtr)
    release_date = row.find('td', class_='mojo-field-type-date').text
    release_dates.append(release_date)
    studio = row.find('td', class_='mojo-field-type-release_studios').text.strip('\n')
    studios.append(studio)

In [9]:
df = pd.DataFrame({'Rank': ranks, 'Title': titles, 'Gross Income': gross, 'Max Theaters': max_theaters, 'Opening Earnings': opening_earnings, 'Opening Num Theaters': opening_num_thtrs, 'Release Dates': release_dates, 'Studio': studios})
df

,Rank,Title,Gross Income,Max Theaters,Opening Earnings,Opening Num Theaters,Release Dates,Studio
0,1,Planes,"$90,288,712","3,716","$22,232,291","3,716","Aug 9, 2013",Walt Disney Studios Motion Pictures
1,2,Planes: Fire & Rescue,"$59,165,787","3,839","$17,509,407","3,839","Jul 18, 2014",Walt Disney Studios Motion Pictures
2,3,The Jungle Book 2,"$47,901,582","2,815","$11,441,733","2,815","Feb 14, 2003",Walt Disney Studios Motion Pictures
3,4,The Tigger Movie,"$45,554,533","2,818","$9,427,532","2,818","Feb 11, 2000",Walt Disney Studios Motion Pictures
4,5,A Goofy Movie,"$35,348,597","2,176","$6,129,557","2,176","Apr 7, 1995",Walt Disney Studios Motion Pictures
5,6,Piglet's Big Movie,"$23,103,423","2,084","$6,097,758","2,084","Mar 21, 2003",Walt Disney Studios Motion Pictures
6,7,DuckTales the Movie: Treasure of the Lost Lamp,"$18,115,724","1,558","$3,870,366","1,558","Aug 3, 1990",Walt Disney Studios Motion Pictures
7,8,Pooh's Heffalump Movie,"$18,098,433","2,529","$5,805,559","2,529","Feb 11, 2005",Walt Disney Studios Motion Pictures

In [10]:
df.to_csv('disneytoon_movies.csv')