In [1]:
import os
from dotenv import load_dotenv
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from RequestGuard import RequestGuard as RG

In [2]:
url = "https://www.boxofficemojo.com/brand/bn3245537794/"
rg = RG(url)
if rg.can_follow_link(url):
    print("robot.txt allows scraping for this page")

robot.txt allows scraping for this page

In [3]:
r = requests.get(url)
print(r.status_code)

200

In [4]:
soup = BeautifulSoup(r.text)
# print(soup)
container = soup.find('div', {'class': 'a-section imdb-scroll-table mojo-gutter'})
# print(container)

In [5]:
items = container.find_all('tr')
ranks, titles, gross, max_theaters, opening_earnings, opening_num_thtrs, release_dates, studios = [], [], [], [], [], [], [], []
for row in items[1:]:
    rank = row.find('td', class_='mojo-field-type-rank').text
    ranks.append(rank)
    title = row.find('td', class_='mojo-field-type-release').text
    titles.append(title)
    life_gross = row.find('td', class_='a-text-right mojo-field-type-money mojo-sort-column mojo-estimatable').text
    gross.append(life_gross)
    max_theater = row.find('td', class_='a-text-right mojo-field-type-positive_integer').text
    max_theaters.append(max_theater)
    opening = row.find('td', class_='a-text-right mojo-field-type-money').text
    opening_earnings.append(opening)
    opening_num_thtr = row.find('td', class_='a-text-right mojo-field-type-positive_integer').text
    opening_num_thtrs.append(opening_num_thtr)
    release_date = row.find('td', class_='mojo-field-type-date').text
    release_dates.append(release_date)
    studio = row.find('td', class_='mojo-field-type-release_studios').text.strip('\n')
    studios.append(studio)

In [6]:
df = pd.DataFrame({'Rank': ranks, 'Title': titles, 'Gross Income': gross, 'Max Theaters': max_theaters, 'Opening Earnings': opening_earnings, 'Opening Num Theaters': opening_num_thtrs, 'Release Dates': release_dates, 'Studio': studios})
df

,Rank,Title,Gross Income,Max Theaters,Opening Earnings,Opening Num Theaters,Release Dates,Studio
0,1,Earth,"$32,011,576","1,804","$8,825,760","1,804","Apr 22, 2009",Walt Disney Studios Motion Pictures
1,2,Chimpanzee,"$28,972,764","1,567","$10,673,748","1,567","Apr 20, 2012",Walt Disney Studios Motion Pictures
2,3,Oceans,"$19,422,319","1,232","$6,058,958","1,232","Apr 22, 2010",Walt Disney Studios Motion Pictures
3,4,Bears,"$17,780,194","1,790","$4,776,267","1,790","Apr 18, 2014",Walt Disney Studios Motion Pictures
4,5,Monkey Kingdom,"$16,432,322","2,012","$4,577,861","2,012","Apr 17, 2015",Walt Disney Studios Motion Pictures
5,6,African Cats,"$15,428,747","1,224","$6,003,200","1,224","Apr 22, 2011",Walt Disney Studios Motion Pictures
6,7,Born in China,"$13,873,211","1,508","$4,790,367","1,508","Apr 21, 2017",Walt Disney Studios Motion Pictures
7,8,Penguins,"$7,699,452","1,815","$2,282,593","1,815","Apr 17, 2019",Walt Disney Studios Motion Pictures

In [7]:
df.to_csv('datasets/disneynature_movies.csv')