In [2]:
import os
from dotenv import load_dotenv
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from RequestGuard import RequestGuard as RG

In [3]:
url = "https://www.boxofficemojo.com/brand/bn3446864386/"
rg = RG(url)
if rg.can_follow_link(url):
    print("robot.txt allows scraping for this page")

robot.txt allows scraping for this page

In [4]:
r = requests.get(url)
print(r.status_code)

200

In [5]:
soup = BeautifulSoup(r.text)
# print(soup)
container = soup.find('div', {'class': 'a-section imdb-scroll-table mojo-gutter'})
# print(container)

In [6]:
items = container.find_all('tr')
ranks, titles, gross, max_theaters, opening_earnings, opening_num_thtrs, release_dates, studios = [], [], [], [], [], [], [], []
for row in items[1:]:
    rank = row.find('td', class_='mojo-field-type-rank').text
    ranks.append(rank)
    title = row.find('td', class_='mojo-field-type-release').text
    titles.append(title)
    life_gross = row.find('td', class_='a-text-right mojo-field-type-money mojo-sort-column mojo-estimatable').text
    gross.append(life_gross)
    max_theater = row.find('td', class_='a-text-right mojo-field-type-positive_integer').text
    max_theaters.append(max_theater)
    opening = row.find('td', class_='a-text-right mojo-field-type-money').text
    opening_earnings.append(opening)
    opening_num_thtr = row.find('td', class_='a-text-right mojo-field-type-positive_integer').text
    opening_num_thtrs.append(opening_num_thtr)
    release_date = row.find('td', class_='mojo-field-type-date').text
    release_dates.append(release_date)
    studio = row.find('td', class_='mojo-field-type-release_studios').text.strip('\n')
    studios.append(studio)

In [7]:
df = pd.DataFrame({'Rank': ranks, 'Title': titles, 'Gross Income': gross, 'Max Theaters': max_theaters, 'Opening Earnings': opening_earnings, 'Opening Num Theaters': opening_num_thtrs, 'Release Dates': release_dates, 'Studio': studios})
df

,Rank,Title,Gross Income,Max Theaters,Opening Earnings,Opening Num Theaters,Release Dates,Studio
0,1,High School Musical 3: Senior Year,"$90,559,416","3,626","$42,030,184","3,626","Oct 24, 2008",Walt Disney Studios Motion Pictures
1,2,Hannah Montana: The Movie,"$79,576,189","3,231","$32,324,487","3,231","Apr 10, 2009",Walt Disney Studios Motion Pictures
2,3,Hannah Montana and Miley Cyrus: Best of Both W...,"$65,281,781",687,"$31,117,834",687,"Feb 1, 2008",Walt Disney Studios Motion Pictures
3,4,The Lizzie McGuire Movie,"$42,734,455","2,825","$17,338,755","2,825","May 2, 2003",Walt Disney Studios Motion Pictures
4,5,Recess: School's Out,"$36,706,141","2,630","$10,065,873","2,630","Feb 16, 2001",Walt Disney Studios Motion Pictures
5,6,Doug's 1st Movie,"$19,440,089","2,268","$4,470,489","2,268","Mar 26, 1999",Walt Disney Studios Motion Pictures
6,7,Jonas Brothers: The 3D Concert Experience,"$19,162,740","1,276","$12,510,374","1,276","Feb 27, 2009",Walt Disney Studios Motion Pictures
7,8,Teacher's Pet,"$6,491,969","2,027","$2,461,252","2,027","Jan 16, 2004",Walt Disney Studios Motion Pictures

In [8]:
df.to_csv('datasets/disney_channel_movies.csv')